@charset "UTF-8";

/* 구글 폰트 사용 */
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&family=Roboto+Condensed:wght@700&display=swap');
body {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.7;
}

/* top.jsp 네비게이션바  */
.top-custom .nav-link {
	color: black !important;
}
.top-custom .nav-link:hover {
	color: blue !important;
}
.top-custom .nav-item {
    padding-right: 7em;
   	
}

.nav-img-logo {
    width: 200px;
    height: 55px;
}


/* index.jsp */
.banner-div>img{
	min-height: 200px;
	
	
}

.index-mid-div {
	background-color: #B0B0B0;
}


/* footer css */
footer {
	font-family: 'Gothic A1', sans-serif !important;
}
.footer-img-logo {
    width: 230px;
    height: 65px;
}
.footer-text{
	font-size: 13px;
}

 .partner-row > .col > img {
	      
	background-color: gray;     
 	min-height: 100px;
	max-height: 100px;
	
}


/* intro.jsp */
.intro-bg-cover {
    background-image: url('/SUNJIN/resources/img/Milton Roy Blue Wave Banner.jpg');
}



