@charset "UTF-8";

/* 구글 폰트 사용 */
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap&family=Roboto+Condensed:wght@700&display=swap&family=Noto+Sans+JP&display=swap');
body {
	font-family: 'Noto Sans JP', sans-serif;
	line-height: 1.7;
}

/* 한글 폰트 지정 */
.ko-text {
	font-family: 'Noto Serif KR', serif !important;
	font-weight: bold;	
}

/* top.jsp 네비게이션바  */
.top-custom .nav-link {
	color: black !important;
}
.top-custom .nav-link:hover {
	color: blue !important;
}
.top-custom .nav-item {
    padding-right: 8em;
   	
}

.nav-img-logo {
    width: 230px;
    height: 65px;
}

.top-link{
	font-size: 20px;
}

/* index.jsp */
.index-banner-div>img{
	min-height: 150px;
}

/* footer css */
.footer-img-logo {
    width: 230px;
    height: 65px;
}
.footer-text{
	font-size: 13px;
}

.footer-partner-img {
	width: 150px;	
 	height: 100px;
}

/* footer carousel prev, next 아이콘 색상 변경*/
.carousel-control-prev-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon { 
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


/* banner.jsp */
.banner-bg-cover {
    background-image: url('/SUNJIN/resources/img/milton-roy-banner.jpg');
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body {
	    border-top: 1px solid rgba(34,36,38,.1);
}

.card-custom {
  	box-shadow: 10px 10px 5px grey;
}

.card-custom .card-text {
	font-weight: 100 !important;
	font-size: 14px !important;
}

.banner-content-medium{
	font-size: 18px;
	margin-left: 2.1em;
}
/* supprot */
.sup-a:link { color: black; text-decoration: none;}
.sup-a:hover { color: black; text-decoration: underline;}


/* 반응형 구문 */
@media (max-width: 330px){
	.nav-img-logo {
	    width: 175px;
	    height: 65px;
	}
	
	.footer-partner-img {
		height: 50px;
	}
}

@media (max-width: 768px){
	
	.col-md-9 .pt-4 .footer-col{
		margin-top: 2em;
	}
		
	.col-md-3 .pt-4 .footer-col{
		margin-top: 1em;
	}
	
	#carouselExampleIndicators{
		width: 200px;
	}
	
}


@media (max-width: 1000px){
	.banner-bg-cover .banner-content-big {
		font-size: 25px;
		margin-top: 0;
	}
	
	.banner-bg-cover .banner-content-medium{
		font-size: 1em;
		margin-top: 0;
	}
	
	.footer-text {
		font-size: 11px;
		margin-top: 0;
	}
	
	.intro-info-medium{
		font-size: 1em;
		margin-top: 0;
	}

	.footer-partner-img {
		width: 100px;	
	 	height: 100px;
	}
	
	.location-info-medium{
		font-size: 14px;
		margin-top: 0;		
	}
	
}


@media (max-width: 1200px){
	.sup-info{
		font-size: 14px;
	}
	.sup-korea-info{
		font-size: 11px;
	}
}

.col text-center li {
	display: inline-block;
    margin-right: 20px;
    color: rgba(255,255,255, 0.9);
    font-weight: 300;
    line-height: 1.8;	
}

/* about */
#about-img {
	height: 500px;
}
